.openingimage {
    background-image: url(street.webp);
    width: 500px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px
}
.caption {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-stretch: expanded;
    display: block;
    padding: 45px;
    margin-left: 10%;
    top: 80%;


       
}

